body {
    font-family: 'Times New Roman', serif;
    line-height: 1.6;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
    color: #333; /* General text color */
}

header {
    background-color: #ffcccc;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 2.5em;
    margin: 0;
    color: #333;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 1.1em;
    font-weight: bold;
}

nav ul li a:hover {
    color: #ff6699;
}

#intro {
    padding: 50px;
    text-align: center;
    background-color: #ffe6e6;
    color: black;
}

#portfolio, #skills, #education {
    padding: 50px;
    background-color: #f8f8f8;
}

.project {
    margin-bottom: 30px;
}

footer {
    background-color: #ffcccc;
    padding: 20px;
    text-align: center;
}

footer ul {
    list-style-type: none;
    padding: 0;
}

footer ul li {
    display: inline;
    margin: 0 10px;
}

footer ul li a {
    text-decoration: none;
    color: black;
    font-size: 1.1em;
}

footer ul li a:hover {
    color: #ff6699;
}

.dark-mode {
    background-color: #333;
    color: white;
}

.dark-mode header,
.dark-mode footer {
    background-color: #555;
}

.dark-mode nav ul li a {
    color: white;
}

.dark-mode nav ul li a:hover {
    color: #ff99cc;
}

.dark-mode #intro {
    background-color: #444;
    color: #ddd;
}

.dark-mode #portfolio, 
.dark-mode #skills, 
.dark-mode #education {
    background-color: #555;
    color: white;
}

@media (max-width: 768px) {
    header h1 {
        font-size: 1.8em;
    }
    nav ul li {
        display: block;
        margin: 10px 0;
    }
}
