body {
    font-family: 'Times New Roman', serif;
    line-height: 1.6;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
    color: #333; /* General text color */
}

header {
    background-color: #ffcccc;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 2.5em;
    margin: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: black; /* Navigation link color */
}

#intro {
    padding: 50px;
    text-align: center;
    background-color: #ffe6e6;
    color: black; /* Font color for intro section */
}

#portfolio, #skills, #education, #visualizations {
    padding: 50px;
    background-color: #f8f8f8;
}

.project {
    margin-bottom: 30px;
}

footer {
    background-color: #ffcccc;
    padding: 20px;
    text-align: center;
}

footer ul {
    list-style-type: none;
    padding: 0;
}

footer ul li {
    display: inline;
    margin: 0 10px;
}

footer ul li a {
    text-decoration: none;
    color: black; /* Footer link color */
}

.dark-mode {
    background-color: #333;
    color: white;
}

.dark-mode header,
.dark-mode footer {
    background-color: #555;
}

.dark-mode nav ul li a {
    color: white;
}

.dark-mode #intro {
    background-color: #444;
}
